@import '../../../../assets/colors.scss';
.mat-toolbar {
  height: 60px;
  display: flex;
  justify-content: space-between;
  padding-left: 6%;
  padding-right: 6%;
}
.left-container {
  display: flex;
  align-items: center;
}
.mat-toolbar {
  height: 64px;
}

.mat-h3 {
  height: 46px;
  line-height: 64px;
}
.sign_button {
  margin-left: 10px;
}

.mat-sidenav {
  background-color: $white-color;
  width: 160px;
}

.side-nav-items {
  display: flexbox;
  flex-direction: column;
}

.side-menu-item {
  color: $black-color;
  margin-top: 20px;
}

@media (min-width: 900px) {
  #menuIcon {
    display: none;
  }

  .mat-sidenav {
    display: none;
  }
}

@media (max-width: 900px) {
  .top-menu-item {
    display: none;
  }
}
