@import '../../../../assets/colors/colors.scss';
@import '../../../../assets/mixins/_mixins.scss';

.toolbar {
  background-color: $white-color;
  height: 60px;
  display: flex;
  justify-content: space-between;
  padding-left: 6%;
  padding-right: 6%;

  &__left-container {
    @include center-flex;
  }

  &__title {
    height: 46px;
    line-height: 64px;
  }

  &__sign-button {
    margin-left: 10px;
  }

  &__menu-icon {
    @media (min-width: 900px) {
      display: none;
    }
  }

  &__top-menu-item {
    @media (max-width: 900px) {
      display: none;
    }
  }

  &__right-container {
    @include center-flex;
  }

  &__account-icon {
    margin-right: 10px;
    color: $primary-color;

    @include center-flex;
  }

  &__logout-button,
  &__login-button,
  &__sign-button {
    @include center-flex;
    color: $text-color;
  }

  &__sign-button--accent {
    background-color: $primary-color;
    color: $white-color;
  }
}

.sidenav {
  background-color: $white-color;
  width: 160px;

  &__items {
    display: flex;
    flex-direction: column;
  }

  &__item {
    color: $black-color;
    margin-top: 20px;
  }

  @media (min-width: 900px) {
    display: none;
  }
}
