$primary-color: #f97979;
$secondary-color: #e0e0e0;
$white-color: #fff;
$black-color: #0d0d0d;
$footer-color: #4b4c4d;
$primary-hover-color: #f53131;
$highlight-color: rgb(246, 35, 11);
$border-color: #b3b3b3;
$text-color: #555;
$dog-color: #ffd997;
$dog-bg-color: #fbeacc;
$text-color: rgb(132, 90, 43);
$button-color: linear-gradient(45deg, #eb9d3f, #ffbf65);
