@mixin center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin responsive-padding($default-padding, $mobile-padding) {
  padding: $default-padding;

  @media (max-width: 900px) {
    padding: $mobile-padding;
  }
}
@mixin button-style($bg-color, $text-color) {
  background-color: $bg-color;
  color: $text-color;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.2s;

  &:hover {
    background-color: darken($bg-color, 10%);
  }
}
