@import '../../assets/colors/colors.scss';

.auth-modal {
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0 4px 8px $black-color;
  background-color: $white-color;
  width: 400px;
  @media (max-width: 768px) {
    width: 250px;
  }

  &__form-button-close {
    position: absolute;
    width: 40px;
    top: 10px;
    right: 10px;
    cursor: pointer;
    background-color: $primary-color;
  }

  &__img {
    display: block;
    margin: 0 auto;
    max-width: 100px;
    border-radius: 50%;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__form-label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    font-size: 14px;
    color: $text-color;
  }

  &__form-input {
    margin: auto;
    padding: 10px;
    border: 3px solid;
    border-radius: 5px;
    width: 380px;
    border-color: $primary-color;
    background-color: $white-color;
    @media (max-width: 768px) {
      width: 230px;
    }

    &:focus {
      border-color: $primary-color;
      outline: none;
    }
  }

  &__form-error {
    font-size: 12px;
    color: $black-color;
    font-weight: 700;
  }

  &__form-button {
    margin: auto;
    padding: 10px;
    border: 3px solid;
    border-radius: 5px;
    width: 250px;
    background-color: $primary-color;
    cursor: pointer;
    @media (max-width: 768px) {
      width: 100px;
    }

    &:disabled {
      background-color: $white-color;
      cursor: not-allowed;
    }

    &:not(:disabled):hover {
      background-color: $primary-hover-color;
      border-color: $primary-color;
    }
  }

  &__password-container {
    position: relative;

    button {
      position: absolute;
      top: 50%;
      right: 10px;
      transform: translateY(0%);
      background-color: transparent;
      border: none;
      cursor: pointer;
    }
  }
}
