<div class="auth-modal">
  <button
    mat-icon-button
    class="auth-modal__form-button-close"
    (click)="onClose()"
  >
    <mat-icon>close</mat-icon>
  </button>
  <img class="auth-modal__img" src="./assets/images/avatar.png" alt="Logo" />
  <form class="auth-modal__form" [formGroup]="authForm" (ngSubmit)="onSave()">
    <div class="auth-modal__form-content">
      <label for="id_userName" class="auth-modal__form-label">Имя </label>
      <input
        id="id_userName"
        name="userName"
        formControlName="userName"
        class="auth-modal__form-input"
      />
    </div>
    <div
      class="auth-modal__form-error"
      *ngIf="
        authForm.controls['userName'].invalid &&
        authForm.controls['userName'].touched
      "
    >
      Неверно указано имя!
    </div>
    <div class="auth-modal__form-content">
      <label for="id_userEmail" class="auth-modal__form-label">Email </label>
      <input
        id="id_userEmail"
        name="userEmail"
        formControlName="userEmail"
        class="auth-modal__form-input"
      />
    </div>
    <div
      class="auth-modal__form-error"
      *ngIf="
        authForm.controls['userEmail'].invalid &&
        authForm.controls['userEmail'].touched
      "
    >
      Неверно указан email!
    </div>
    <div class="auth-modal__form-content auth-modal__password-container">
      <label for="id_userPassword" class="auth-modal__form-label">Пароль</label>
      <input
        id="id_userPassword"
        [type]="hidePassword ? 'password' : 'text'"
        name="userPassword"
        formControlName="userPassword"
        class="auth-modal__form-input"
      />
      <button
        mat-icon-button
        type="button"
        (click)="togglePasswordVisibility()"
      >
        <mat-icon>{{
          hidePassword ? 'visibility_off' : 'visibility'
        }}</mat-icon>
      </button>
    </div>
    <div
      class="auth-modal__form-error"
      *ngIf="
        authForm.controls['userPassword'].invalid &&
        authForm.controls['userPassword'].touched
      "
    >
      Неверно указан пароль!
    </div>

    <button
      class="auth-modal__form-button auth-modal__form-button_disabled"
      type="submit"
      [disabled]="authForm.invalid"
    >
      Сохранить
    </button>
  </form>
</div>
