@import './color_variable';
$primary-palatte: (
  50: #eefcea,
  100: #d5f8cb,
  200: #b9f3a8,
  300: #9dee85,
  400: #88ea6b,
  500: #73e651,
  600: #6be34a,
  700: #60df40,
  800: #449731,
  900: $primary-color,
  A100: #ffffff,
  A200: #e3ffdf,
  A400: #b8ffac,
  A700: #a2ff92,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$accent-palette: (
  50: #fee8e8,
  100: #fdc5c5,
  200: #fb9f9f,
  300: #f97979,
  400: #f85c5c,
  500: #f73f3f,
  600: #f63939,
  700: #f53131,
  800: #f32929,
  900: #f11b1b,
  A100: #ffffff,
  A200: #fff1f1,
  A400: #ffbebe,
  A700: #ffa5a5,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$warn-palette: (
  50: #ffffff,
  100: #e8eff1,
  200: #c4d8dc,
  300: #97bac2,
  400: #84adb6,
  500: #71a0ab,
  600: #5e939f,
  700: #53818c,
  800: #476f79,
  900: #3c5e66,
  A100: #ffffff,
  A200: #c6e7ef,
  A400: #84becb,
  A700: #7caeb9,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
