<mat-toolbar color="primary" class="footer-toolbar">
  <div class="container">
    <div class="item" *ngFor="let section of footerSections">
      <h3>{{ section.title }}</h3>
      <ul>
        <li *ngFor="let link of section.links">
          <a [href]="link.url">{{ link.text }}</a>
        </li>
      </ul>
    </div>
    <div class="social-icons">
      <a *ngFor="let icon of socialIcons" [href]="icon.url">
        <i [class]="icon.iconClass"></i>
      </a>
    </div>
  </div>
</mat-toolbar>
