@import '../../../assets/colors/colors.scss';
@import '../../../assets/mixins/_mixins.scss';

.toolbar {
  background-color: $primary-color;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    width: 100%;
  }

  &__icon {
    margin-right: 16px;
    font-size: 1.5rem;
  }

  &__title {
    font-size: 1.5rem;
    font-weight: bold;
    flex-grow: 1;
    white-space: nowrap;
  }

  &__nav {
    display: flex;
    gap: 16px;
  }

  &__link {
    text-decoration: none;
    color: inherit;
  }

  @media (max-width: 768px) {
    &__container {
      flex-direction: column;
      align-items: flex-start;
    }

    &__title {
      margin-bottom: 8px;
    }

    &__nav {
      flex-direction: column;
      align-items: flex-start;
      gap: 8px;
    }
  }

  @media (max-width: 480px) {
    &__icon {
      margin-right: 8px;
    }

    &__title {
      font-size: 1.2rem;
    }

    &__nav {
      gap: 4px;
    }
  }
}
