.content-container {
  display: flex;

  justify-content: space-between;
}

.text-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  .mat-h3 {
    font-size: 30px;
    text-align: center;
  }
  .mat-h4 {
    font-size: 28px;
    text-align: center;
  }
  .btn-new {
    width: 20%;
    margin: 0 auto;
    display: block;
    border-radius: 40px !important;
    box-shadow: 0 5px 15px 0 rgb(246, 35, 11);
    transition: 0.5s;
  }

  .btn-new:hover {
    transform: translate(0, -3px);
    box-shadow: 0 20px 40px 0 rgba(246, 35, 11, 1);
  }
}

.img-float {
  width: 50%;
  height: auto;
}

@media (max-width: 900px) {
  example-card {
    flex-direction: column;
    align-items: stretch;
    padding: 0;
    margin: 0;
  }
  .text-container {
    margin-right: 0;
    margin-bottom: 20px;
    text-align: center;
    .btn-new {
      width: auto;
      margin: 0 auto;
      display: block;
    }
    .mat-h3,
    .mat-h4 {
      margin: 0;
      text-align: center;
      font-size: medium;
    }
  }
}
