<app-header></app-header>
<mat-card class="example-card">
  <mat-card-content class="example-card__content-container">
    <div class="example-card__text-container">
      <p class="example-card__text">
        Краудфандинговая платформа для мечтателей
      </p>
      <p class="example-card__text">Поддерживайте любимые проекты!</p>
      <button mat-button class="example-card__button-start">Начать</button>
    </div>
    <img
      class="example-card__img-main"
      src="./assets/images/main.svg"
      alt="Main photo"
    />
  </mat-card-content>
</mat-card>
<div class="statistics">
  <ul class="statistics__list">
    <li class="statistics__item">
      <h3 class="statistics__value">258</h3>
      <h4 class="statistics__label">финансируемые проекты</h4>
    </li>
    <li class="statistics__item">
      <h3 class="statistics__value">$800</h3>
      <h4 class="statistics__label">собрано</h4>
    </li>
    <li class="statistics__item">
      <h3 class="statistics__value">9506</h3>
      <h4 class="statistics__label">в перспективе</h4>
    </li>
  </ul>
</div>
<div class="main-container">
  <div class="main-container__left">
    <mat-card class="main-container__one-card">
      <mat-card-header class="main-container__card-header">
        <mat-card-title class="main-container__card-title"
          >Будущий проект</mat-card-title
        >
      </mat-card-header>
      <img
        mat-card-image
        src="./assets/images/card_bg.png"
        alt="Photo one-card"
      />
      <mat-card-actions class="main-container__card-actions">
        <button mat-button class="main-container__button-details">
          Подробнее
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="main-container__additional">
    <mat-card *ngFor="let card of cardsSlice" class="main-container__card">
      <mat-card-header class="main-container__card-header">
        <mat-card-title class="main-container__card-title">{{
          card.title
        }}</mat-card-title>
      </mat-card-header>
      <div class="main-container__image-container">
        <img
          mat-card-image
          [src]="card.imageSrc"
          [alt]="card.altText"
          class="main-container__image"
        />
      </div>
      <mat-card-actions class="main-container__card-actions">
        <button mat-button class="main-container__button-card">
          {{ card.buttonText }}
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
<mat-paginator
  [length]="this.cards.length"
  [pageSize]="4"
  [pageSizeOptions]="[4]"
  hidePageSize
  aria-label="Select page"
  (page)="OnPageChange($event)"
>
</mat-paginator>
<app-footer></app-footer>
