<app-header></app-header>
<mat-card class="example-card">
  <mat-card-content class="content-container">
    <div class="text-container">
      <p class="mat-h3">Краудфандинговая платформа для мечтателей</p>
      <p class="mat-h4">Поддерживайте любимые проекты!</p>
      <button mat-raised-button class="btn-new">Начать</button>
    </div>
    <img class="img-float" src="./assets/images/main.svg" alt="Main photo" />
  </mat-card-content>
</mat-card>
<mat-card class="card_one">
  <mat-card-header>
    <mat-card-title>Новый проект</mat-card-title>
  </mat-card-header>
  <img mat-card-image src="./assets/images/card1.png" alt="Photo of a card" />
</mat-card>
