@import '../../../assets/colors.scss';

.content-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;

  @media (max-width: 900px) {
    flex-direction: column;
    padding: 10px;
  }
}

.text-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 20px;
  gap: 20px;
  font-size: 30px;
  text-align: center;
  p {
    margin: 0;
    line-height: 1.5;
  }

  .btn-new {
    width: 40%;
    margin: 0 auto;
    display: block;
    border-radius: 40px !important;
    box-shadow: 0 5px 15px 0 $highlight-color;
    transition: 0.5s;

    @media (max-width: 900px) {
      width: 80%;
    }
  }

  @media (max-width: 900px) {
    padding: 10px;
  }
}

.img-float {
  width: 50%;
  height: auto;
  margin-left: 20px;

  @media (max-width: 900px) {
    width: 100%;
    margin-left: 0;
    margin-bottom: 20px;
  }
}
.statistics-container {
  text-align: center;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  overflow-x: auto;
  margin: 0 4em;
  padding: 1em 2em;
}

.statistics-list {
  width: 90%;
  display: inline-flex;
  flex-wrap: nowrap;
  background-color: $white-color;
  list-style-type: none;
}

.statistics-item {
  flex: 1;
  padding: 1em 2em;
  border: 1px solid $border-color;
}

.statistics-value {
  font-size: 28px;
  color: $highlight-color;
}

.statistics-label {
  font-size: 14px;
  color: $text-color;
  text-transform: lowercase;
  margin: 0;
}
.statistics-value,
.statistics-label {
  text-align: center;
}

@media (max-width: 900px) {
  .statistics-container {
    margin: 0 1em;
    padding: 1em;
    max-width: 100%;
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1em;
  }

  .statistics-value {
    font-size: 20px;
    font-size: 24px;
  }

  .statistics-item {
    flex: 1 0 300px;
    padding: 1em;
    max-width: 100%;
    box-sizing: border-box;
  }
}
.container_main {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}

.container_left,
.container_additional {
  width: 40%;
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.container_left {
  margin-right: 5%;
}

.one-card {
  width: 100%;
}

.container_cards {
  width: calc(50% - 20px);
  display: flex;
  flex-direction: column;
  margin-right: 0;
}

.image-container {
  width: 100%;
  height: 70%;
}

.image-container img {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

mat-card-actions {
  padding: 16px;
  border-top: 1px solid $secondary-color;
  display: flex;
  justify-content: center;

  button {
    background-color: $primary-color;
    color: $white-color;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    transition: $white-color 0.2s;

    &:hover {
      background-color: $primary-hover-color;
    }
  }
}
mat-card-header {
  justify-content: center;
  padding: 16px;
  border-bottom: 1px solid;

  mat-card-title {
    font-size: 1.5em;
    font-weight: 700;
    color: $primary-color;
  }
}
.image-cards {
  width: 100%;
  padding-top: 75%;
}

@media (max-width: 900px) {
  .container_main {
    padding: 10px;
    gap: 10px;
  }

  .container_left,
  .container_additional {
    width: 100%;
    margin-right: 0;
    gap: 10px;
  }

  .one-card,
  .container_cards {
    flex: 1 100%;
  }
}
