@use '@angular/material' as mat;
@import './theme/_theme';
html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Rubic, 'Helvetica Neue', sans-serif;
}
.footer {
  bottom: 0;
}
.mat-mdc-dialog-container .mdc-dialog__surface {
  border-radius: 16px;
}
